.nav-logo {
   width: 100px;
}
.carrusel-items {
   height: 600px;
   overflow: hidden;
}
.carrusel-items img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.carouselborderbot {
   border-bottom: 4px solid #e28e20;
}
.logo-bienvenidos {
   filter: invert(1) brightness(0);
   width: 150px;
}
.navbar {
   border-bottom: 3px solid #e28e20;
}
.navbar-bordertop {
   border-top: 3px solid #e28e20;
}
.nav-linklabel {
   color: black;
}
.titulo {
  margin-left: 70px;
  margin-top: 20px;
}
.container {
  margin-left: 60px;
  margin-top: 20px;
}
.card-text {
  color: black;
}
