.botones-nav {
   align-items: center;
   justify-content: center;
}
.carrusel-items {
   height: 500px;
   object-fit: cover;
}
.logo-bienvenidos {
   filter: invert(1) brightness(0);
   width: 140px;
}
